.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  height: auto;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
  overflow: auto;
}
.login-page {
  padding: 60px 20px 100px 20px;
  position: relative;
  &_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
  }
  &_hide {
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: #0000;
    padding: 0;
    display: flex;
    width: auto;
    align-items: center;
    height: auto;
  }
  &_line {
    transform: rotate(-45deg);
    width: 25px;
    height: 1.5px;
    background: #9099AF;
  }
  &_input {
    height: 40px;
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #C5CEE0;
    border-radius: 8px;
    transition: all ease 0.3s;
    &:focus{
      box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
      outline: none;
    }
  }
  &_bg {
    background: url('../../public/images/Background.png') no-repeat center center / cover;
    position: absolute;
    left: 20px;
    top: -15px;
    width: calc(100% - 40px);
    height: 205px;
  
  }
  &_btn {
    width: 88px;
    margin: 0 auto;
    margin-top: 24px;
  }
}